@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

:root { 

	--night-mode: true;

	--red-color: #E3553F;
	--blue-color: #65A8A5; 
	--black-color: #303430; 
	--white-color: #F5E9C0;


	/*--red-color: #65A8A5;
	--blue-color: #E3553F; 
	--black-color: #F5E9C0;
	--white-color: #303430; */
} 

body {
	margin: 0;
	background-color: var(--black-color);
}

h1 {
	/*font-family: 'Rubik Mono One', sans-serif;*/
    font-family: 'Barrio', cursive;
	color: var(--red-color);
	text-align: center;
	font-size: 50pt;
	line-height: 60px;
	margin: 0;
}

h2 {
	color: var(--blue-color);
	font-size: 20pt;
	font-family: 'Playfair Display', serif;
	margin: 0;
}

h3 {
	color: var(--blue-color);
	font-size: 14pt;
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 1vh;
}

p {
	color: var(--blue-color);
	font-size: 12pt;
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 1vh;
}

.top-bar {
  overflow: hidden;
  background-color: var(--black-color);
}

.top-bar a {
	float: left;
	/*font-family: 'Rubik Mono One', sans-serif;*/
	font-family: 'Barrio', cursive;
	color: var(--red-color);
	text-align: center;
	font-size: 16pt;
	padding: 10px 5px 10px 5px;
	margin: 0;
}

.top-bar a:link {
	color: var(--red-color);
	text-decoration: none;
}

.top-bar a:visited {
	color: var(--red-color);
	text-decoration: none;
}

.top-bar a:hover {
	color: var(--blue-color);
	text-decoration: none;
}

.top-bar a:active {
	color: var(--red-color);
	text-decoration: none;
}

.homepage-text {
	color: var(--blue-color);
	font-size: 18pt;
	font-family: 'Playfair Display', serif;
}

.fade-in-element {
	-webkit-animation: fadein 3s forwards; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s forwards; /* Firefox < 16 */
	-ms-animation: fadein 3s forwards; /* Internet Explorer */
	-o-animation: fadein 3s forwards; /* Opera < 12.1 */
	animation: fadein 3s forwards;

	opacity: 0;

	margin-top: 3vh;
}

.non-fade-element {
	margin-top: 3vh;
}

a:link {
	color: var(--blue-color);
	text-decoration: underline;
}

a:visited {
	color: var(--blue-color);
}

a:hover {
	color: var(--red-color);
}

a:active {
	color: var(--blue-color);
}

.pgp-key {
	display: none;
	color: var(--white-color);
	font-size: 10;
}

.hidden-text {
	display: none;
	color: var(--blue-color);
	font-size: 14pt;
	font-family: 'Playfair Display', serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#second {
  animation-delay: 2.5s;
}

#third {
  animation-delay: 5s;
}

#fourth {
  animation-delay: 7.5s;
}

#fifth {
  animation-delay: 10s;
}

#sixth {
  animation-delay: 12.5s;
}

#space-after {
	margin-bottom: 0.5vh;
}

.center {
	/*background-color: white;*/
	width: 450px;
	margin: 0 auto;
}

.container {
	/*background-color: #F5E9C0;*/
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 0px 0px 0px 0px;
}